<html> 
    <title>Quiz</title>
    <body> 
        <div>
            <img src="/statics/img/virus_1.jpeg" usemap="#workmap">

            <map name="workmap">
                <area shape="rect" coords="34,44,270,350" alt="Start" href="{{.IntroURL}}">
                <!-- <area shape="rect" coords="290,172,333,250" alt="Phone" href="phone.htm">
                <area shape="circle" coords="337,300,44" alt="Coffee" href="coffee.htm"> -->
            </map>
        </div>
    </body> 
</html>

<style type="text/css">
    img {
        position: fixed; right: 0; bottom: 0;
        min-width: 100%; min-height: 100%;
        width: auto; height: auto; z-index: -100;
        background-size: cover;
      }
</style>

