<html> 
    <title>Quiz</title>
    <body> 
        <div>
            <!-- <a href={{.FirstQuestionURL}}> -->
            <video id="introVideo" controls autoplay>
                <source src="/statics/videos/{{.Video}}"
                        type="video/mp4">
            
                Sorry, your browser doesn't support embedded videos.
            </video>
            <script>
                var vid = document.getElementById("introVideo");
                vid.onended = function() {
                    window.location.href = '{{.FirstQuestionURL}}';
                };
            </script>
        </div>
    </body> 
</html>

<style type="text/css">
    video#introVideo {
        position: fixed; right: 0; bottom: 0;
        min-width: 100%; min-height: 100%;
        width: auto; height: auto; z-index: -100;
        background: url(polina.jpg) no-repeat;
        background-size: cover;
      }
</style>

